@import url("style.css");

/** Board page css file */

main {
    display: flex;
}
.player-column {
    width:200px;
    height:300px;
    padding:0px;
    margin:2px;
}
.player-column div,header {
    width: 100%;
    display: inline-block;
    font-size:18px;
    padding: 0px;
}
.player-column ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0px auto 0;
  }
.player-column ul li {
    color: white;
    display: inline-block;
    width: 10%;
    padding: 0px 5px 0;
}
.player-column header {
    color: white;
    background-color: var(--sidebar-color);

}
.role-team {
    color: white;
    width:100%;
    background-color: var(--sidebar-color);
}
#blue-players-column {
    background-color: var(--blue-team);
}
#red-players-column {
    background-color: var(--red-team);
}
.game-info {
    display: flex;
    color: black;
    align-items: center;
    text-align: left;
    width:50%;
    margin-top:5px;
}
.game-info div,label,span{
    color: black;
    background-color:var(--info-color);
}

.info-part label,span {
    align-items: center;
    text-align: left;
    font-size: 18px;  
}

.info-part {
    color: var(--background-white);
    height:45px;
    width:400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px;
    border-radius: 5px;
    margin:5px;
    transition: transform 2s;
    text-transform: capitalize;
} 

/* Board card flip */

#game-score-blue {
    color: var(--blue-team);
}

#game-score-red {
    color: var(--red-team);
}

#clue {
    width:160px;
    font-size: 15px;
}
#cluecount {
    width:50px;
    font-size: 15px;
}

.blue-turn {
    color: var(--blue-team);
}
.red-turn {
    color: var(--red-team);
}

.blue-team {
    background-color: var(--blue-team);
}
.red-team {
    background-color: var(--red-team);
}

.score-clue {
    color: #000;
    border: 1px;
    border-radius: 5px;
    border-color:#000;
    margin:20px;
    padding:10px;
} 

#clue,button,select {
    margin:5px;
    padding:5px;
    font-size: 20px;
} 

.board {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 20px;
    color:"lightgrey";
    vertical-align: middle;

}

.flip-card {
    background-color: transparent;
    width: 180px;
    height: 100px;
    perspective: 1000px;
    vertical-align: middle;
    margin:10px 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    border-color:#000;
    align-items: center;
    justify-content: center;
}

.flip-card-front {
    background-color: var(--card-color);
}

.flip-card-front h2 {
    margin-top:35px;
}

.flip-card-back img {
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    color: #bbb;
    transform: rotateY(180deg);
}

.flip-card-front-red {
    color: var(--red-team);
}
.flip-card-front-blue {
    color: var(--blue-team);
}
.flip-card-front-bomb {
    color: var(--bomb);
}

.flip-card-front-grey {
    color: var(--grey-team);
}
    
.flip-card-back-red {
    background-color: var(--red-team);
}
.flip-card-back-blue {
    background-color: var(--blue-team);
}
.flip-card-back-grey {
    background-color: var(--grey-team);
}
.flip-card-back-bomb {
    background-color: var(--bomb);
}
