@import url("style.css");

/** Home page css file */
.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-right {
    display: flex;
    justify-content: flex-end;
}

/** Input and select */
input[type=text], select {
	width: 100%;
	padding: 12px 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
