@charset "UTF-8";

/*! Global css app file */
body {
	/* COLOR */
	--navbar-color: #333;
	--sidebar-color: #4c4f52;
	--red-team: #ee2222;
	--blue-team: #2222ee;
	--grey-team: #f2f3f2;
	--validate-green: #66bb6a;
	--validate-green-hover: #5baa5f;
	--background-white: #fff;

    background-color: var(--background-white);
	color: #111;
	font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

/** Margin */
.separator {
	margin-top: 3%;
}

.separator-large {
	margin-top: 6%;
}

/** Button */
.button {
	color: var(--background-white);
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


.button-validate:hover {
	background-color: var(--validate-green-hover);
}

.button-validate {
	background-color: var(--validate-green);
	color: var(--background-white);
}


/** Checkbox */
/* The checkbox-container */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background-color: var(--validate-green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/** Input and select */
input[type=text], select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
