<header>
    <ul>
        <li>
            <a href="../view/index.html">
                <img class="d-inline-block align-top" src="../assets/icones/exit.ico" height="24px" width="24px" />
            </a>
        </li>
        <li>
            <a class="nav-link" href="../view/index.html">
                Exit
            </a>
        </li>
        <li class="nav-right">
            <img class="d-inline-block align-top" src="../assets/icones/english.png" />
        </li>
        <li class="nav-right">
            <img class="d-inline-block align-top" src="../assets/icones/french.png" />
        </li>
    </ul>
</header>
