<header>
    <ul id="navbar">
        <li>
            <a href="../view/index.html">
                <img class="d-inline-block align-top" src="../assets/icones/exit.ico" height="24px" width="24px" />
            </a>
        </li>
        <li>
            <a class="nav-link" href="../view/index.html">
                Exit
            </a>
        </li>
        <li>
            <h2>CODE NAMES</h2>
        </li>

        <!-- <li class="nav-right" id="lang-english">
            <button onclick="selectLanguage('english')">
                <img class="d-inline-block align-top" src="../assets/icones/english.png" />
            </button>
        </li>
        <li class="nav-right" id="lang-french">
            <button onclick="selectLanguage('french')">
            <img class="d-inline-block align-top" src="../assets/icones/french.png" />
        </li> -->
    </ul>
</header>
