<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/board.css">

    <!-- Header -->
    <div w3-include-html="../components/header.html"></div>
</head>

<body>
    <!-- NavBar -->
    <div w3-include-html="../components/navbar.html"></div>
<main>
    <div id="blue-players-column" class="player-column">
        <div>Blue team</div>
        <div class="role-team">Spymaster</div>
        <ul id="blue-spymaster-team"></ul>
        <div class="role-team">Player</div>
        <ul id="blue-player-team"></ul>
    
    </div>
    <div id="center-column">
        <center>
        <div class="game-info">
            <div class="info-part"> 
                <label>Turn: </label>
                <span id="game-turn"></span>
            </div>
            <div class="info-part">
                <label>Score: </label>
                <span id="game-score-blue"></span>
                &minus; 
                <span id="game-score-red"></span>
            </div>
        </div>
        <div class="game-info">
            <div class="info-part" id="game-clue"> 
            </div>
        </div>
        <div class="board" id="board">
            <div id="column1"></div>
            <div id="column2"></div>
            <div id="column3"></div>
            <div id="column4"></div>
            <div id="column5"></div>
        </div>
        </center>
    </div>
    <div id="red-players-column" class="player-column">
        <div>Red team</div>
        <div class="role-team">Spymaster</div>
        <ul id="red-spymaster-team"></ul>
        <div class="role-team">Player</div>
        <ul id="red-player-team"></ul>
    </div>

    <!-- Script -->
    <script src="../js/socket.io.js"></script>
    <script src="../js/module.js"></script>
    <script src="../js/board.js"></script>
    <script>
        includeHTML().then(
            () => {
                document.getElementById("navbar").innerHTML+=
                '<li><div class="nav-link">Your Team: '+team+'</div></li>'+
                '<li><div class="nav-link">Your Role: '+role+'</div></li>';
            }
        );
        const board = new Board();
        loadTeams();
    </script>

    <!-- Footer -->
    <div w3-include-html="../components/footer.html"></div>
</main>
</body>

</html>
