<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/board.css">

    <!-- Header -->
    <div w3-include-html="../components/header.html"></div>
</head>

<body>
    <!-- NavBar -->
    <div w3-include-html="../components/navbar.html"></div>
<main>
    <div id="blue-players-column" class="player-column">
        <header>Blue team</header>
        <h3 class="role-team">Spymaster</h3>
        <ul id="blue-spymaster-team"></ul>
        <h3 class="role-team">Player</h3>
        <ul id="blue-player-team"></ul>
    
    </div>
    <div id="center-column">
        <center>
        <div class="game-info">
            <div class="info-part"> 
                <label>Turn: </label>
                <span id="game-turn"></span>
            </div>
            <div class="info-part">
                <label>Score: </label>
                <span id="game-score-blue"></span>
                &minus; 
                <span id="game-score-red"></span>
            </div>
        </div>
        <div class="game-info">
            <div class="info-part" id="game-clue"> 
            </div>
        </div>
        <div class="board" id="board">
            <div id="column1"></div>
            <div id="column2"></div>
            <div id="column3"></div>
            <div id="column4"></div>
            <div id="column5"></div>
        </div>
        </center>
    </div>
    <div id="red-players-column" class="player-column">
        <header>Red team</header>
        <h3 class="role-team">Spymaster</h3>
        <ul id="red-spymaster-team"></ul>
        <h3 class="role-team">Player</h3>
        <ul id="red-player-team"></ul>
    </div>

    <!-- Script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="../js/module.js"></script>
    <script src="../js/board.js"></script>
    <script>
        includeHTML().then(
            () => {
                document.getElementById("navbar").innerHTML+=
                '<li><div class="nav-link">Your Team: '+team+'</div></li>'+
                '<li><div class="nav-link">Your Role: '+role+'</div></li>';
            }
        );
        const board = new Board();
        loadTeams();
    </script>

    <!-- Footer -->
    <div w3-include-html="../components/footer.html"></div>
</main>
</body>

</html>
