<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/board.css">

    <!-- Component -->
    <div w3-include-html="../components/header.html"></div>
</head>

<body>
    <h1>Code Names</h1>
    <div class="board" id="board">
        <div id="column1"></div>
        <div id="column2"></div>
        <div id="column3"></div>
        <div id="column4"></div>
        <div id="column5"></div>
    </div>

    <!-- Script -->
    <script src="../components/includeHTML.js"></script>
    <script src="../js/board.js"></script>
    <script>
        includeHTML();
        const board = new Board();
    </script>

    <!-- Component -->
    <div w3-include-html="../components/footer.html"></div>
</body>

</html>
