<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div w3-include-html="../components/header.html"></div>

    <!-- Component -->
    <div w3-include-html="../components/header.html"></div>
</head>
<body>
    HOME PAGE
    <br>
    <a href="board.html">Board.html</a>

    <!-- Scripts -->
    <script src="../components/includeHTML.js"></script>
    <script>
        includeHTML();
    </script>

    <!-- Component -->
    <div w3-include-html="../components/footer.html"></div>
</body>
</html>
