<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">

    <!-- Header -->
    <div w3-include-html="../components/header.html"></div>
</head>

<body>
    <!-- NavBar -->
    <div w3-include-html="../components/navbar.html"></div>

    <br>
    <a href="board.html">Board.html</a>
    <br>
    <a href="room.html">Room.html</a>

    <!-- Scripts -->
    <script src="../components/includeHTML.js"></script>
    <script>
        includeHTML();
    </script>

    <!-- Footer -->
    <div w3-include-html="../components/footer.html"></div>
</body>

</html>
