<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/modal.css">

    <!-- Header -->
    <div w3-include-html="../components/header.html"></div>
</head>

<body onload="setbutton()">
    <!-- NavBar -->
    <div w3-include-html="../components/navbar.html"></div>

    <h1 class="center">Code Names</h1>
    <div class="center">
        <button class="button button-validate" id="create-game" onclick="m.open()">
            Create a game
        </button>
    </div>

    <div id="modal-container" class="modal"></div>

    <!-- Scripts -->
    <script src="../js/module.js"></script>
    <script src="../js/index.js"></script>
    <script>
        includeHTML();
        const m = new Modal();
        const modalObject = m.display('Create Game', 
            '<label for="fname">Pseudo</label>' +
            '<input type="text" id="fname" name="firstname" placeholder="Your name...">' +
            '<label for="avatar">Avatar</label>' +
            '<select id="avatar" name="avatar">' +
                '<option value="man">man</option>' +
                '<option value="woman">woman</option>' +
                '<option value="dog">dog</option>' +
                '<option value="cat">cat</option>' +
            '</select>', 
            'Create', 
            'createUser()');
        m.modal.innerHTML = modalObject

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == m.modal) {
                m.modal.style.display = "none";
            }
        }
    </script>

    <!-- Footer -->
    <div w3-include-html="../components/footer.html"></div>
</body>

</html>
