<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/room.css">

    <!-- Header -->
    <div w3-include-html="../components/header.html"></div>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
</head>

<body onload="loadTable()">
    <!-- NavBar -->
    <div w3-include-html="../components/navbar.html"></div>

    <!-- Admin modal -->
    <div class="card" id="admin-card">
        <div class="card-container">
            <h4><b>Invite your frends by sharing this link</b></h4>
            <div>
                <input type="text" value="" id="link-access" size="80" readonly>
                <img class="d-inline-block align-top" src="../assets/icones/copy.png" onclick="datatable.copyLink()" />
            </div>
            <div class="button-container">
                <button class="button button-validate" onclick="startgame()">
                    Launch Game
                </button>
            </div>
        </div>
    </div>

    <!-- Datatable -->
    <table id="userTable" class="display">
        <thead>
            <th>User</th>
            <th>Pseudo</th>
            <th>Role</th>
            <th>Team</th>
            <th>Ready?</th>
            <th>Status</th>
            <th>Action</th>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="../js/module.js"></script>
    <script src="../js/room.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script>
        includeHTML();
        const datatable = new Datatable();
        datatable.table; // Call the table const in the constructor
    </script>

    <!-- Footer -->
    <div w3-include-html="../components/footer.html"></div>
</body>

</html>
